* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(130deg, rgba(1, 237, 245, 0.592) 30%, rgba(4, 55, 197, 0.96) 80%);
}

.chat-container {
    position: relative;
    z-index: 1;
    overflow-y: auto;
    width: 70%;
    height: 79%;
    min-width: 500px;
    min-height: 500px;
    background-image: linear-gradient(to bottom right, rgba(163, 163, 163, 0.4), rgba(163, 163, 163, 0));
    border-radius: 27px;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.5);

    display: flex;
    flex-wrap: wrap;

    transition: all 2s;

}

.overlay {
    z-index: -1;
    width: 99%;
    height: 98%;
    margin: 0.5%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 27px;
    /* opacity: 0.4; */

    /* clip-path: polygon(0 0, 0% 100%, 22.5% 100%, 22.5% 20%, 100% 20%, 100% 20%, 100% 0, 0 0); */

    /* clip-path: path('M 0 200 L 0,75 A 5,5 0,0,1 200,75 L 200 200 z'); */

    /* clip-path: path('M 0 0 L 0 100 L 50 100 L 50 0 z'); */

    /* clip-path: path('M 0 0 L 0 100 A 5,5 0,0,0 50,100 L 50 100 L 50 0 z'); */

    /* clip-path: path('M 0 0 V 600 H 240 V 100 H 1100 V 0 z'); */

    display: none;

}

.profile-bar {
    z-index: 2;
    background-image: linear-gradient(110deg, rgba(21, 23, 53, 0.612), rgba(0, 0, 0, 0.526));
    /* backdrop-filter: blur(100px) brightness(0%); */

    backdrop-filter: blur(4px);
    /* backdrop-filter: brightness(50%); */


    margin: 0.75% auto 0 auto;
    /* border: 2px solid black; */
    border-radius: 13px;
    border-bottom-left-radius: 0;
    width: 98%;
    height: 15%;

    display: flex;
    align-items: center;

            background-color: transparent;
            background-image: none;
            backdrop-filter: none;


}

.profile-owner {
    margin-left: 2%;
    height: 90%;
    /* background-color: red; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.profile-picture {
    /* background-color: blue; */
    height: 90%;
    display: flex;
    align-items: center;
}

.profile-picture img {
    height: 90%;
}

.profile-name-status {
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.profile-name {
    margin-bottom: 4px;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: white;
}

.status img {
    width: 25%;
}

.current-chat {
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: 2%;
    justify-self: flex-end;
}

.current-chat-status {
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.6em;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    /* opacity: 0.2; */
    border-radius: 10px;
}

.chats {
    z-index: 2;
    background-image: linear-gradient(110deg, rgba(0, 0, 0, 0.196), rgba(0, 0, 0, 0.455));
    
    backdrop-filter: blur(100px) brightness(0%);

    margin-top: 0;
    margin-left: 0.7%;
    width: 22%;
    height: 81.3%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

            background-color: transparent;
            background-image: none;
            backdrop-filter: none;

}

.chat {
    box-sizing: border-box;
    /* padding-left: 5%; */
    margin-top: 3%;
    width: 94%;
    height: 16.5%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.319);
    transition: background-color 0.15s ease;

    display: flex;
    justify-content: center;
    align-items: center;

    /* outline: 2px solid rgba(255, 255, 255, 0.2); */

}

.chat:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.479);
    transition: background-color 0.15s ease;
}

.chat-profile-owner {
    width: 90%;
    height: 90%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-profile-name {
    color: rgba(255, 255, 255, 0.4);
}

.profile-name-mini-message {
    margin: 0;
    width: 65%;
    margin: 15px 0 15px 8px;
    display: flex;
    flex-direction: column;
    /* background-color: green; */

}

.mini-message {
    margin-top: 1.5%;
    font-size: 0.67em;
    color: rgba(255, 255, 255, 0.5);
}

.search-contacts {
    width: 82%;
    height: 25px;
    margin: 2% 0 5% 0;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.319);
    
    display: flex;
    align-items: center;
}

.search-contacts-input {
    color: white;
    margin-left: 2%;
    width: 90%;
    padding-left: 10px;
    font-size: 0.7em;
}

.search-contacts-input::placeholder {
    color: rgba(255, 255, 255, 0.616);
}

.search-button {
    cursor: pointer;
    margin-right: 5%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    /* background-color: red; */

    display: flex;
    align-items: center;

}

.search-button img {
    height: 60%;
    opacity: 35%;
}

.messages {
    z-index: -1;
    width: 73.5%;
    /* height: 65%; */
    overflow-y: scroll;
    height: 64%;
    position: relative;
    top: 0%;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    /* background-color: green; */
}

.chat-start {
    color: rgb(49, 44, 44);
    font-size: 0.85em;
    width: fit-content;
    border-radius: 10px;
    /* background-color: white; */
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.6), rgb(255, 255, 255, 0.4));
    padding: 5px 7px;
    margin: 43% auto 5% auto;

    /* display: none; */

}

.messages::-webkit-scrollbar {
    display: none;
}

.messages::-webkit-scrollbar {
    width: 8px;
}

.messages::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
}

.messages::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px;
    outline: 1px solid slategrey;
}

.message {
    max-width: 50%;
    font-family: Arial, sans-serif; 
    font-size: 0.95em;
    background-color: #00ACFF;
    color: #fff;

    width: fit-content;
    box-sizing: border-box;
    padding: 10px;
    margin: 15px 2% 0 auto;
    border-radius: 10px;
    
}

.message-diff-user {
    background-color: white;
    background-color: rgba(0, 0, 0, 0.401);
    margin: 0;
    margin: 15px 50px;
}


.ball {
    background-image:  radial-gradient(circle farthest-side at 28% 37%, #ED00FF, #4D0752);
    border-radius: 50%;

    display: none;
}

.ball-left {
    width: 130px;
    height: 130px;
    position: absolute;
    bottom: 20%;
    left: 9%;
}

.ball-right {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 7%;
    right: 9%;
}


.form-container {
    width: 74%;
    height: 12%;
    z-index: 2;
    position: absolute;
    bottom: 2.75%;
    right: 1.5%;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.6), rgb(255, 255, 255, 0.4));
    border-radius: 17px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;

}

form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding-left: 1.5%;
    position: relative;
    height: 80%;
    width: 78%;
    background-color: transparent;
    border: none;

}

input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}


input:active, input:focus {
    outline: none;
    border: none;
}

.submitBtn {
    cursor: pointer;
    width: 16%;
    height: 75%;
    margin: 10px 0;
    padding: 2px 6px;
    color: white;
    background-image: linear-gradient(to bottom right, #3172C8, #3172C8);
    backdrop-filter: brightness(100%);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

.emojis-container {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: -45%;
    left: 3%;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.6), rgb(255, 255, 255, 0.4));
    backdrop-filter: blur(10px);

    margin: 0 0 0 1%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji-container-face {
    margin-top: -10%;
    font-size: 27px;
    opacity: 80%;
}

.emoji-board {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;


    position: absolute;
    top: -290%;
    width: 250px;
    height: 170px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.6), rgb(255, 255, 255, 0.4));

}

.emoji-board::-webkit-scrollbar {
    display: none;
}

.emoji {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 10px 6px;
    font-size: 25px;
    background-color: rgb(61, 61, 61);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-arrow {
    width: 27%;
}

